.jumbotrone {
    background-color: #6ab04c;
    color: white;
    padding: 100px 0;
    text-align: center;
}

.brand-icon {
    font-size: 70px;
}

.input-group {
    width: 31%;
    margin: 1.5% auto;
}

.form-control {
    font-size: 18px;
}

.btn {
    font-size: 18px;
    margin-top: 2%;
    width: 100%;
}



